html, body {
  background: #eee;
}

.bcde-header {
  padding-top: 30px;
  padding-bottom: 20px;
  /*background: pink;*/
}

.bcde-header__logo-container {
  text-align: right;
  padding-right: 0;
  /*background-color: green;*/
}

.bcde-header__navigation-toggle-mobile,
.bcde-header__logo-mobile-container {
  display: none;
}

.bcde-header__logo__text {
  display: block;
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  color: #0042ff;
  padding-top: 18px;
  /*background: red;*/
}

.bcde-header__navigation-container {
    float: right;
    margin-top: 13px;
}

.bcde-l-header__content{
  border-bottom: 1px dotted #555;
  padding-bottom: 10px;
}

.js-open.bcde-header__navigation-container{
  background: purple;
}

@media (max-width: 991px) {

  .bcde-header{
    padding-bottom: 0;
  }

  .bcde-header__navigation-toggle-mobile{
    float: left;
    display: block;
    font-size: 2em;
    padding-top: 2px;
    padding-right: 10px;
    color: #7f7f7f;
    /*background: aqua;*/
  }
  .bcde-header__logo-container{
    display: none;
  }

  .bcde-header__logo__text {
    padding-top: 3px;
  }

  .bcde-header__logo-mobile-container{
    display: block;
    float: left;
    padding-right: 5px;
  }

  .bcde-header__logo-mobile {
    width: 30px;
  }


  .bcde-header__navigation-container{
    /*display: none;*/
    width: 100%;
    /*margin-bottom: 20px;*/
  }
  .bcde-header__navigation{

    /*background: orange;*/
  }
  .bcde-header__navigation li {
    width: 100%;
  }
}


.bcde-l-homepage__section {

  padding-bottom: 25px;
  margin-top: 5px;
  /*background: purple;*/
}

.bcde-l-homepage__side {
  color: #999;
  padding-top: 30px;
  text-align: right;
  /*background: aqua;*/
}

.bcde-l-homepage__content {
  border-bottom: 1px dotted #555;
  padding-bottom: 30px;
  /*background: yellow;*/
}

@media (max-width: 991px) {
  .bcde-l-homepage__side {
    display: none;
  }
}

.bcde-footer__logo-container{
  text-align: right;
  padding-right:0;
}
.bcde-footer__navigation-container {
  float:left;
}

@media (max-width: 991px) {
  .bcde-footer__logo-container{
    text-align: center;
  }

  .bcde-footer__navigation-container{
    text-align: center;
  }
  .bcde-footer__navigation {
    display: inline-block;
    /*text-align: left;*/
  }

}


@media (max-width: 599px) {
  .bcde-footer__navigation{
    display: block;
    width: 50%;
    float: left;
  }

  .bcde-footer__navigation li {
    width: 100%;
  }

  .bcde-footer__navigation:first-child{
    /*background: red;*/
  }

  .bcde-footer__navigation:first-child li {
    text-align: left;
  }

  .bcde-footer__navigation:nth-child(2) {
    text-align: right;
  }
}

@media (max-width: 767px) {
  .bcde-l-contentpage__container {
    padding-left: 30px;
    padding-right: 30px;
    background: aqua;
  }
}


.bcde-l-contentpage-side{
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top:30px;
}
.bcde-l-contentpage-side .label-section {
  background: #f0ad4e;
  color: #000;
  border-radius: 0;
}

.bcde-l-contentpage__content h2,
.bcde-l-contentpage__content h3,
.bcde-l-contentpage__content h4 {
  margin-left: -15px;
}

.bcde-l-contentpage__content h2{
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}

.bcde-l-contentpage__side-menu {
  padding: 15px;
  background: #fff;
  margin-bottom: 20px;
}
