.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



.fake-logo {
	width: 40px;
	height: 40px;
	background: blue;
}

hr {
   border-top: 1px dotted #555 !important;
   margin-bottom:5px !important;
   margin-top:5px !important;
}
