

.bcde-header {
  padding-top: 30px;
  padding-bottom: 20px;
  /*background: pink;*/
}

.bcde-header__logo-container {
  text-align: right;
  padding-right: 0;
  /*background-color: green;*/
}

@media (max-width: 991px) {
  .bcde-header__logo-container{
    display: none;
  }
}


.bcde-header__logo__text {
  display: block;
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  color: blue;
  padding-top: 18px;
}

/*.bcde-l-homepage__logo-content {
    padding-left: 0;
}*/
.bcde-header__navigation {
    float: right;
    margin-top: 14px;
}


.bcde-l-homepage__section {

  padding-bottom: 25px;
  margin-top: 5px;
  /*background: purple;*/
}
.bcde-l-homepage__side {
  color: #999;
  padding-top: 30px;
  text-align: right;
  /*background: aqua;*/
}

.bcde-l-homepage__content {
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
  background: yellow;
}

@media (max-width: 991px) {
  .bcde-l-homepage__side {
    display: none;
  }
}

.bcde-footer__logo-container{
  text-align: right;
  padding-right:0;
}
.bcde-footer__navigation-container {
  float:left;
}

@media (max-width: 991px) {
  .bcde-footer__logo-container{
    text-align: center;
  }

  .bcde-footer__navigation-container{
    text-align: center;
  }
  .bcde-footer__navigation {
    display: inline-block;
    /*text-align: left;*/
  }

}


@media (max-width: 599px) {
  .bcde-footer__navigation{
    display: block;
    width: 50%;
    float: left;
  }

  .bcde-footer__navigation li {
    width: 100%;
  }

  .bcde-footer__navigation:first-child{
    /*background: red;*/
  }

  .bcde-footer__navigation:first-child li {
    text-align: left;
  }

  .bcde-footer__navigation:nth-child(2) {
    text-align: right;
  }
}
