

.bcde-l-homepage__side {

}

.bcde-header {
  border-bottom: 1px dotted #555;
  margin-bottom:25px;
  margin-top:5px;
  padding-bottom: 20px;
  /*background: pink;*/
}

.bcde-header__logo{
  display: block;
  float: left;
  /*background: yellow;*/

}


.bcde-header__navigation {
  float: right;
  /*background: orange;*/
}

@media (max-width: 991px) {
  .bcde-header__logo, .bcde-header__navigation{
    float: none;
  }
}

.bcde-l-homepage__section {

  padding-bottom: 25px;
  margin-top: 5px;
  /*background: purple;*/
}
.bcde-l-homepage__side {
  color: #999;
  padding-top: 30px;
  text-align: right;
  /*background: aqua;*/
}

.bcde-l-homepage__content {
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
  /*background: yellow;*/
}

@media (max-width: 991px) {
  .bcde-l-homepage__side {
    display: none;
  }
}
/*
.bcde-footer .col-md-1 {
  background: pink;
  text-align: right;
}
.bcde-footer .bcde-footer__logo {
  /*display: block;*/
  text-align: right;

}*/

.bcde-footer__navigation {
  float:left;
}

@media (max-width: 991px) {
  .bcde-footer__logo-container{
    text-align: center;
  }

  .bcde-footer__navigation{
    text-align: center;
  }
  .bcde-footer ul {
    display: inline-block;
    text-align: left;
  }

}
